.table-gatic-head {
  --bs-table-bg: var(--bs-tertiary-bg);
  --bs-table-color: var(--bs-body-color);
  --bs-table-border-color: var(--bs-border-color);
}

.table-gatic-head th {
  font-weight: 700;
}

